<a href="https://colab.research.google.com/github/FatimaNsrn/route_difficulty_istinye/blob/main/processing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

df = pd.read_csv('datasetemoon.csv')


print(df.head())
print(df.info())
print(df.describe())
pd.set_option('display.max_columns', None)

                               Origin  \
0  1. 19 Mayis, Büyükçekmece/Istanbul
1  1. 19 Mayis, Büyükçekmece/Istanbul
2  1. 19 Mayis, Büyükçekmece/Istanbul
3       1. 19 Mayis, Kadiköy/Istanbul
4       1. 19 Mayis, Kadiköy/Istanbul

                                        Destination Time_Slot travel_time  \
0  Istinye University, Hamidiye, Kağthane, Istanbul  6pm-12am         206
1  Istinye University, Hamidiye, Kağthane, Istanbul  12pm-6pm         181
2  Istinye University, Hamidiye, Kağthane, Istanbul  6am-12pm         196
3  Istinye University, Hamidiye, Kağthane, Istanbul  6am-12pm          98
4  Istinye University, Hamidiye, Kağthane, Istanbul  12pm-6pm          85

   num_transits  buses  metros  ferries
0             3      3       0        0
1             4      4       0        0
2             4      4       0        0
3             2      2       0        0
4             3      2       0        0
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10299 entries, 0 to 10298
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Origin        10299 non-null  object
 1   Destination   10299 non-null  object
 2   Time_Slot     10299 non-null  object
 3   travel_time   10299 non-null  object
 4   num_transits  10299 non-null  int64
 5   buses         10299 non-null  int64
 6   metros        10299 non-null  int64
 7   ferries       10299 non-null  int64
dtypes: int64(4), object(4)
memory usage: 643.8+ KB
None
       num_transits         buses        metros       ferries
count  10299.000000  10299.000000  10299.000000  10299.000000
mean       0.533547      0.497427      0.025439      0.004564
std        1.028302      0.968763      0.161722      0.067403
min        0.000000      0.000000      0.000000      0.000000
25%        0.000000      0.000000      0.000000      0.000000
50%        0.000000      0.000000      0.000000      0.000000
75%        0.000000      0.000000      0.000000      0.000000
max        5.000000      5.000000      2.000000      1.000000

In [ ]:
print("Missing Values in Dataset:")
print(df.isnull().sum())

Missing Values in Dataset:
Origin          0
Destination     0
Time_Slot       0
travel_time     0
num_transits    0
buses           0
metros          0
ferries         0
dtype: int64

In [ ]:
df = df.dropna()

In [ ]:

print(df.tail(10))

      Origin                                       Destination Time_Slot  \
10289     \N  Istinye University, Hamidiye, Kağthane, Istanbul  6pm-12am
10290     \N  Istinye University, Hamidiye, Kağthane, Istanbul  6am-12pm
10291     \N  Istinye University, Hamidiye, Kağthane, Istanbul  12pm-6pm
10292     \N  Istinye University, Hamidiye, Kağthane, Istanbul  6pm-12am
10293     \N  Istinye University, Hamidiye, Kağthane, Istanbul  6am-12pm
10294     \N  Istinye University, Hamidiye, Kağthane, Istanbul  12pm-6pm
10295     \N  Istinye University, Hamidiye, Kağthane, Istanbul  6pm-12am
10296     \N  Istinye University, Hamidiye, Kağthane, Istanbul  6pm-12am
10297     \N  Istinye University, Hamidiye, Kağthane, Istanbul  6am-12pm
10298     \N  Istinye University, Hamidiye, Kağthane, Istanbul  12pm-6pm

      travel_time  num_transits  buses  metros  ferries
10289          \N             0      0       0        0
10290          \N             0      0       0        0
10291          \N             0      0       0        0
10292          \N             0      0       0        0
10293          \N             0      0       0        0
10294          \N             0      0       0        0
10295          \N             0      0       0        0
10296          \N             0      0       0        0
10297          \N             0      0       0        0
10298          \N             0      0       0        0

In [ ]:
print("\nNumber of Duplicated Rows:")
print(df.duplicated().sum())

Number of Duplicated Rows:
7911

In [ ]:
df = df.drop_duplicates()

In [ ]:

num_rows, num_columns = df.shape


print(f"Number of rows: {num_rows}")

Number of rows: 2388

In [ ]:
print(df.tail(10))

                  Origin                                       Destination  \
2378     Num of Transits  Istinye University, Hamidiye, Kağthane, Istanbul
2379  Num of ferry boats  Istinye University, Hamidiye, Kağthane, Istanbul
2380  Num of ferry boats  Istinye University, Hamidiye, Kağthane, Istanbul
2381  Num of ferry boats  Istinye University, Hamidiye, Kağthane, Istanbul
2382             Üsküdar  Istinye University, Hamidiye, Kağthane, Istanbul
2383             Üsküdar  Istinye University, Hamidiye, Kağthane, Istanbul
2385             Üsküdar  Istinye University, Hamidiye, Kağthane, Istanbul
2442                  \N  Istinye University, Hamidiye, Kağthane, Istanbul
2443                  \N  Istinye University, Hamidiye, Kağthane, Istanbul
2448                  \N  Istinye University, Hamidiye, Kağthane, Istanbul

     Time_Slot travel_time  num_transits  buses  metros  ferries
2378  6pm-12am          \N             0      0       0        0
2379  6am-12pm          \N             0      0       0        0
2380  12pm-6pm          \N             0      0       0        0
2381  6pm-12am          \N             0      0       0        0
2382  12pm-6pm          84             2      2       0        0
2383  6am-12pm          79             2      2       0        0
2385  6pm-12am          84             2      2       0        0
2442  6pm-12am          \N             0      0       0        0
2443  12pm-6pm          \N             0      0       0        0
2448  6am-12pm          \N             0      0       0        0

In [ ]:

df = df[df['Origin'] !='\\N' ]


print(df.tail())

                  Origin                                       Destination  \
2380  Num of ferry boats  Istinye University, Hamidiye, Kağthane, Istanbul
2381  Num of ferry boats  Istinye University, Hamidiye, Kağthane, Istanbul
2382             Üsküdar  Istinye University, Hamidiye, Kağthane, Istanbul
2383             Üsküdar  Istinye University, Hamidiye, Kağthane, Istanbul
2385             Üsküdar  Istinye University, Hamidiye, Kağthane, Istanbul

     Time_Slot travel_time  num_transits  buses  metros  ferries
2380  12pm-6pm          \N             0      0       0        0
2381  6pm-12am          \N             0      0       0        0
2382  12pm-6pm          84             2      2       0        0
2383  6am-12pm          79             2      2       0        0
2385  6pm-12am          84             2      2       0        0

In [ ]:
df = df[df['travel_time'] !='\\N' ]
print(df.tail())

                               Origin  \
2356  9. Üniversite, Avcilar/Istanbul
2357  9. Üniversite, Avcilar/Istanbul
2382                          Üsküdar
2383                          Üsküdar
2385                          Üsküdar

                                           Destination Time_Slot travel_time  \
2356  Istinye University, Hamidiye, Kağthane, Istanbul  6pm-12am         128
2357  Istinye University, Hamidiye, Kağthane, Istanbul  6am-12pm         128
2382  Istinye University, Hamidiye, Kağthane, Istanbul  12pm-6pm          84
2383  Istinye University, Hamidiye, Kağthane, Istanbul  6am-12pm          79
2385  Istinye University, Hamidiye, Kağthane, Istanbul  6pm-12am          84

      num_transits  buses  metros  ferries
2356             2      2       0        0
2357             2      2       0        0
2382             2      2       0        0
2383             2      2       0        0
2385             2      2       0        0

In [ ]:
print(df.columns)

Index(['Origin', 'Destination', 'Time_Slot', 'travel_time', 'num_transits',
       'buses', 'metros', 'ferries'],
      dtype='object')

In [ ]:

df.to_csv('cleaned_dataset.csv')